@using MonackFr.Mvc.Areas.TaskList.ViewModels
@model IEnumerable<Task>
@{
    ViewBag.Title = "Home Page";
}

<h3>Tasks</h3>
@Html.ActionLink("New", "Create")
<ol class="tasklist">
@foreach (var item in Model)
{
    <li class="task">
		@item.Id
		@item.Created
		@Html.ActionLink("Edit", "Edit", new { id = item.Id })		
		@Html.ActionLink("Delete", "Delete", new { id = item.Id})
	</li>
}
</ol>
