<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/themes/base/css")
	@Styles.Render("~/Css/Style.css")
    @Styles.Render("~/Css/Tiles.css")
	@Styles.Render("~/Css/Modules.css")
</head>
<body>
	<h1>The Monack Framework</h1>
	
	@RenderBody()
	    
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/tiles")

    @RenderSection("scripts", required: false)
    
</body>
</html>
