<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Css/Tiles.css")

    

</head>
<body>
	<h1>The Monack Framework</h1>
	
	@*<ul>				
		@foreach (MenuItem menuItem in ViewBag.MenuItems)
		{
			<li>
				@Html.ActionLink(menuItem.Text, menuItem.ActionName, menuItem.Controller, new { area = menuItem.Area }, new { @class = "tile" })
			</li>
		}
	</ul>
	
	logged in as: @if (ViewBag.LoggedInUser != null) {
		@ViewBag.LoggedInUser.UserName
	}

	<br />*@
	@RenderBody()

    
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/tiles")
    @Scripts.Render("~/bundles/knockout")

    @RenderSection("scripts", required: false)

    
</body>
</html>
