@using MonackFr.Mvc.Areas.UserManagement.Models
@model IEnumerable<Role>
@{
    ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Roles</h3>
@Html.ActionLink("New", "Create")
<ol class="tasklist">
@foreach (Role item in Model)
{
    <li class="task">
		@item.Id
		@item.CreationDate.ToShortDateString()
		@item.LastUpdate.ToShortDateString()
		@Html.ActionLink(@item.Name, "Details", new {id = item.Id}) 
		@Html.ActionLink("Edit", "Edit", new { id = item.Id })		
		@using (Html.BeginForm("Delete", "Role", new { id = item.Id })) {
			<input type="submit" value="delete" />
		}
	</li>
}
</ol>
