@{
	ViewBag.Title = "Default";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/css/bootstrap")
    @Styles.Render("~/css/monackfr")
    @Scripts.Render("~/scripts/jquery")
    @Scripts.Render("~/scripts/bootstrap")
    @Scripts.Render("~/scripts/angular")
</head>
<body ng-app="monackfr">
    <h1>The Monack Framework</h1>

<a ui-sref="tiles()" class="home-button">Home</a>
    <section ui-view></section>

<script src="~/scripts/monackfr"></script>

    @foreach (var scriptSource in ViewBag.ScriptSources)
    {
        <script src="@scriptSource"></script>
    }

</body>
</html>
