@using MonackFr.Mvc.ViewModels
@{
	ViewBag.Title = "Default";
}

<h2>MonackFr</h2>

<a href="javascript:void(0)" class="home-button">Home</a>

<div class="tiles">
	<ul>	
	</ul>
</div>

<ul class="modules">
	@foreach (Module module in ViewBag.Modules)
	{		
		<li class="module @module.CssSystemName">
			<h2>@module.Name</h2>
			<ul class="menu"></ul>
		</li>
	}
</ul>

@section Scripts {
	<script type="text/javascript">

		$(document).ready(function () {
			$(".home-button").bind("click", function () {
				$(".module").hide();
				$(".tiles").show();
			});			

			$(".module").hide();
			$(".tiles").show();

			$.post('@Url.Action("GetModules", "Module")', function (modules) {
				$.each(modules, getMenuItems)
			})
		});

		var getMenuItems = function (index, module) {			
			$.post('@Url.Action("GetMenu", "Module")', { systemName: module.SystemName }, function (menuItems) {
				$.each(menuItems, function (index, menuItem) {
					if (menuItem.Visible) {
						var menuItemLi = $("<li>")
							.addClass("menu-item")
							.attr("data-menu-systemname", menuItem.CssSystemName)
							.attr("data-default", menuItem.Default)
							.append($("<a>")
								.attr("href", "javascript:void(0)")
								.text(menuItem.Label)
							)
							.bind("click", function () {
								console.log(menuItem.Panel.CssSystemName);
								showPanel(menuItem.Panel.CssSystemName);
							});
						$("." + module.CssSystemName + " ul.menu").append(menuItemLi);
					}
					console.log(menuItem);
					$.get(menuItem.Panel.Url, function (content) {
						$("." + module.CssSystemName).append(
							$("<div>")
								.addClass("panel")
								.attr("data-panel-systemname", menuItem.Panel.CssSystemName)
								.html(content)
						);
					});
				});
			});
		};

		var showModule = function (module) {
			$(".tiles").hide();
			$(".module").hide();
			$(".panel").hide();
			$("." + module.CssSystemName).show();

			var defaultMenuItem = $("." + module.CssSystemName + " ul.menu li.menu-item[data-default='true']").first().attr("data-panel-systemname");
			if ($.isEmptyObject(defaultMenuItem)) {
				defaultMenuItem = $("." + module.CssSystemName + " ul.menu li.menu-item").first().attr("data-panel-systemname");
			}
			showPanel(defaultMenuItem);
		};

		var showPanel = function (panelName) {
			$(".panel").hide();
			$(".panel[data-panel-systemname='" + panelName + "']").show();
		};

		function Tile(data) {
			self.Title = ko.observable(data.Title);
			self.Copyright = ko.observable();
			self.Url = ko.observable();
		}

		function MenuItem(data) {
			self.Label = k.observable(data.Title);
		}

		function TileViewModel() {
			var self = this;
			self.tiles = ko.observableArray();
			$.post('@Url.Action("GetTiles", "Tile")', function (data) {
				var mappedTiles = $.map(data, function (item) { return new Tile(item) });
				self.tiles(mappedTiles);
				$("div.tiles").tiles(data, showModule);				
			});
		}

		ko.applyBindings(new TileViewModel());
</script>
}




