@using MonackFr.Mvc.Entities @* should be removed (viewmodels)*@
@using MonackFr.Mvc.Areas.UserManagement.Package
@model IEnumerable<User>
@{
    ViewBag.Title = "Index";
}

	<script type="text/javascript">
		
		monackfr.prototype.TestMethod = function panelLoaded() {
			console.log("panelLoaded Hit")
			tabel2();
		};

		var tabel2 = function () {
			$.ajax({
				url: "/Users/User/GetUsers",
				type: 'Post'
			}).done(function (data) {
				users(data);
			});
		};
		
	</script>

<h3>Users</h3>
@Html.ActionLink("New", "Create")

@*<ol class="userlist">
	@foreach (User item in Model)
	{
		<li class="user">
			@item.Id
			@item.Creation.ToShortDateString()
			@item.LastUpdate.ToShortDateString()
			<a href="javascript: showPanel('@Names.Panels.Users.Details', 'LoadDetailsJS', [param1 = 1, param2 = 2])">Details JS</a>
			@Html.ActionLink(@item.UserName, "Details", new {id = item.Id})
			@Html.ActionLink("Edit", "Edit", new { id = item.Id })
			@using (Html.BeginForm("Delete", "User", new { id = item.Id })) {

							<input type="submit" id="deletebutton" value="delete" />
			}

		</li>
	}
	</ol>*@
	@(
	 Html.DataTable()
				.Name("users")
				.AddColumn("Username", "UserName")
				.AddColumn("Email", "Email")
				.AddColumn("LastLogin", "LastLogin")
				.Show()
	)