@using MonackFr.Mvc.Areas.PackageManagement.ViewModels
@model IEnumerable<Package>

@{
    ViewBag.Title = "AvailableModules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AvailableModules</h2>

@foreach (Package package in Model)
{
	<div>
		<strong>@package.RelativePath</strong>		
	@foreach (Module module in package.Modules)
	{
		<div>
		@module
	
		    <span>@module.Name</span>
		    <span>@module.Author</span>
            <span>@module.Description</span>
        </div>
		
    
	}
		@if(!package.Installed) 
		{
			using (Html.BeginForm("InstallPackage", "Package", new { path = @package.RelativePath})) {
				<input type="submit" value="Install" />
			}
		}
		else 
		{
			using (Html.BeginForm("RemovePackage", "Package", new { path = @package.RelativePath})) {			
				<input type="submit" value="Remove" />
			}			
		}	
		</div>
	<br>
}
