@model MonackFr.Mvc.Areas.ModuleArea.Models.Module

@{
    ViewBag.Title = "Text";
}

<h2>Text</h2>

<fieldset>
    <legend>Module</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Controller)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Controller)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NameSpace)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NameSpace)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Assembly)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Assembly)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
