@using MonackFr.Mvc.Areas.UserManagement.ViewModels
@using MonackFr.Mvc.Entities
@model DetailsGroup
@{
	ViewBag.Title = "Edit group";
}

<h2>Group Details</h2>

<fieldset>
	<legend>Groupname: @Html.DisplayFor(model => model.Name)</legend>
	<div class="display-label">
		@Html.DisplayNameFor(model => model.Description)
	</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Description)
	</div>
	<div class="display-label">
		 @Html.DisplayNameFor(model => model.CreationDate)
	</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.CreationDate)
	</div>

	<div class="display-label">
		 @Html.DisplayNameFor(model => model.LastUpdate)
	</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.LastUpdate)
	</div>
	Roles:
	@foreach (CheckBoxListRole groupRole in Model.GroupRoles)
	{
		<div>
			@groupRole.Name
			@Html.HiddenFor(x => groupRole.Id)
			@Html.CheckBoxFor(x => groupRole.Checked)
		</div>
	}
	Users:
	@foreach (User user in Model.Users)
	 {
		<div>
			@user.UserName 
		</div> 
	 }
	</fieldset>
<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
	@Html.ActionLink("Back to List", "Index")
</p>