@using MonackFr.Mvc.Entities
@model IEnumerable<Group>
@{
    ViewBag.Title = "Groups";
}

<h3>Groups</h3>
@Html.ActionLink("New", "Create")
<ol class="tasklist">
@foreach (Group item in Model)
{
    <li class="task">
		@item.Id
		@item.CreationDate.ToShortDateString()
		@item.LastUpdate.ToShortDateString()
		@Html.ActionLink(@item.Name, "Details", new {id = item.Id}) 
		@Html.ActionLink("Edit", "Edit", new { id = item.Id })		
		@using (Html.BeginForm("Delete", "Group", new { id = item.Id })) {
			<input type="submit" value="delete" />
		}
	</li>
}
</ol>
